@charset "UTF-8";

/*Demais mídias*/


@media screen and (min-width:768px){
    #burger{
        display: none;
    }

    #itens{
        display: block;
        position: static;
        float: left;
        width: 100%;        
    }

    #itens ul li {
        text-align: center;
        display: inline-block;
        width: 200px;
        border: 1px solid rgb(187, 183, 183);
        float: left;
    }

    #container>#vitrinebanner {
        background: white;
        width:auto;
        
            }

}

