@charset "UTF-8";

/*Configurações Mobile*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; /*inclui a borda no cálculo do tamanho*/
    }

    html, body {
        width: 100vw;
        height: 100vh;
        background:#c7c1b6;
        margin: 0;
    }

    #faixasuperior{
        background: #393939;
        color: white ;
        font-size: 1.5em;
        width: 100vw;
        height: auto; 
        position: relative;  
        float: left;
        }

    #pesquisa{
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        text-align: center;  
    }

    #busca{
        background: white;
        color: black;
        font-size: 1em;
        border-radius: 8px;
        padding: 6px;
    }

    
    #botao-buscar{
        background: red;
        color: white;
        border-radius: 0px 4px 4px 0px;
        display:inline-block ;
        cursor: pointer;
        margin-left: -4px;
        border: none;      
    }

    #burger{
        position: absolute;
        top: 60px;       
        right: 10px;
        background-color: red;
        color: white;
        cursor: pointer;
        border-radius: 17px;
        padding: 5px;
    }

    #itens {
        width:100%;
        position: absolute;
        top: 100px;
        right: 0px;
        background-color: rgba(128, 128, 128, 0.91);
        display: none;
    }

   
    #itens ul{        
        font-size: 15px;
        list-style: none;
    }

    #itens ul li {
        padding: 10px;
        text-align: right;
        border-top: 1px solid black;
    }

    #itens ul li a {
        text-decoration: none;
        color: white;
    }

  
    #logo {
        padding-top: 60px;
        padding-bottom: 20px;
        width: 100%;       
    }
    
    
    #whatsapp{    
        padding: 8px 8px 8px 10px;
        position: relative;
        float: right;
        width: auto;              
    }
    
    #whatsapp>span{
        font-size: 18px;
    }

    #whatsapp span a{
        text-decoration: none;
        color: white;
    }
    
    #redessociais{    
        padding: 8px 0px 8px 10px;
        float: left;
        width: auto;
    }

    img{
        display:block;
        margin:auto;
    }

    #imgchild img{ 
        width: 100%;
    }

    #imgchild source{ 
        width: 100vw;
    }

    #container-vendas{
        background: #393939;
        float: left;
        width: auto;
        padding-top: 10px;        
    }

    #container-vendas .vendas{
        float: left;
        width: 100%;        
        margin-bottom: 6px;       
    }

    #container-vendas .icone {
        color: red;
        width: 35px;
        float: left;
        padding-top: 3px;
        padding-left: 5px;
    }

    #container-vendas .descricao-vendas {        
        width: 250px;
        float: left;
        padding-left: 6px;       
    }

    #container-vendas #vendas1 {
        color: white;
        font-size: 14px;
    }

    #container-vendas #descontos {
        color: red;
        font-size: 12px;        
    }

    

    #container {
        float: left;
        background: rgba(182, 182, 182, 0.87);
        width: 100vw;
        height: 700px;        
        justify-content: center;        
    }

    #container h1 {
        color: black;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        margin-top: 10px;

    }

    #container>#vitrinebanner {
        background: white;
        width: 315px;
        height: 600px;
        border: 2px solid white;
        margin: 30px 30px 20px 30px;        
        border-radius: 20px;
    }

    #Infosecontato {
        background: #393939;
        height: auto;
        width: 100%;
        float: left;
        padding-top: 15px;
        padding-bottom: 50px;
    }

    #Infosecontato>.Informacoes {
        color: red;
        text-align: center;
        margin-bottom: 7px;
    }

    #Infosecontato>.links a {
        text-decoration: none;
        color: white;  

    }

    #Infosecontato>.links {
        text-align: center;
        margin-bottom: 7px;
    }

    #Infosecontato>#zap {
        text-align: center;
        color: white;
    }
